<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<h1>新規ユーザー登録</h1>

<%= form_with model: @user, local: true do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "登録" %>
  </p>
<% end %>